# Publisher Dash environment variables
PD_DEBUG_MODE=False
PD_LOGGING_LEVEL=INFO

# PostgreSQL environment variables
PGUSER=postgres
PGPASSWORD=postgres
PGHOST=localhost
PGPORT=6000
PGDATABASE=cdsr_catalog
